html, body {
    height: 100%;
    position: relative;
}
/* padded section */
.pad-section {
    padding: 5% 0;    
  }
.pad-section img {
    width: 100%;
}
p {
    padding: 0 20% 0 0;
}
/* vertical-centered text */
.text-vcenter {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
}
/* additional sections */
.parallax {
    background: url(/img/bg2.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}
footer {
    padding-bottom: 5%;
}