body, html {
    height: 100%;
    position: relative;
    padding-bottom: 5%;
}
p {
    padding: 0 20% 0 0;
}
*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -75px; 
    height: 75px; 
    visibility: hidden; 
}
.parallax { 
    /* The image used */
    background-image: url("/img/bg.jpg");

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}