#background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    background-size: contain;
}
.flexbox {
    display: flex;
    flex-direction: column;
}
.content {
    background-color: rgb(224, 219, 212);
}
.left {
    padding: 2%;
}
.right {
    padding: 2%;
}
.spacer {
    height: 400px;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .flexbox > div {
        width: 50%;
    }
    .spacer {
        height: 900px
    }
    .left {
        align-self: flex-start;
    }
    .right {
        align-self: flex-end;
    } 
    .left div {
        max-width: 560px;
        margin-left: auto;
        padding-left: 5%;
    }
    .right div{
        max-width: 560px;
        margin-right: auto;
        padding-right: 5%;
    } 
}
*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -78px; 
    height: 78px; 
    visibility: hidden; 
}
footer {
    padding-bottom: 5%;
}