#background {
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.flexbox {
    display: flex;
    flex-direction: column;
}
.flexbox div {
    width: 100%;
}
.content {
    background-color: rgb(224, 219, 212);
}
.left {
    align-self: flex-start;
    padding: 2%;
}
.right {
    align-self: flex-end;
    padding: 2%;
}
.spacer {
    height: 400px;
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .flexbox div {
        width: 50%;
    }
    .spacer {
        height: 900px
    }
    .left {
        padding-left: 6%;
    }
    .right {
        padding-right: 6%;
    }
}
*[id]:before { 
    display: block; 
    content: " "; 
    margin-top: -78px; 
    height: 78px; 
    visibility: hidden; 
}
footer {
    padding-bottom: 5%;
}